.disclaimer {
    font-family: 'Gill Sans',sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: 500;
}

.form {
    text-align: center;
}

.mat-form-field.mat-form-field {
    font-family: 'Gill Sans',sans-serif;
}

.mat-option.mat-option {
    font-family: 'Gill Sans',sans-serif;
}

.mat-select.mat-select {
    font-family: 'Gill Sans',sans-serif;
}