<div class = "date">
    {{dateString}}
</div>
<br>
<table *ngIf="games.length > 0">
    <tr class="header">
        <th> TEAM </th>
        <th> PITCHING RATING </th>
        <th> HITTING RATING </th>
        <th> STARTING PITCHER RATING </th>
        <th> WIN PROBABILITY </th>
    </tr>
    <ng-container *ngFor="let game of games">
        <tr class="upper">
            <td [ngStyle]="{'background-color': teamColors.get(game[0].name)}"> {{ game[0].name }} </td>
            <td> {{ game[0].pitchingRating }} </td>
            <td> {{ game[0].hittingRating }} </td>
            <td> {{ game[0].startingPitcherRating }} </td>
            <td [ngStyle]="{'background-color': getWinColor(game[0].probability)}"> {{ game[0].probability }}% </td>
        </tr>
        <tr class="lower">
            <td [ngStyle]="{'background-color': teamColors.get(game[1].name)}"> {{ game[1].name }} </td>
            <td> {{ game[1].pitchingRating }} </td>
            <td> {{ game[1].hittingRating }} </td>
            <td> {{ game[1].startingPitcherRating }} </td>
            <td [ngStyle]="{'background-color': getWinColor(game[1].probability)}"> {{ game[1].probability }}% </td>
        </tr>
    </ng-container>
</table>
<div class = "text" *ngIf="games.length == 0">
    No games scheduled for Today
</div>